@tailwind base;
@tailwind components;
@tailwind utilities;

.textContainer {
  border-radius: 24% 76% 70% 30% / 67% 45% 55% 33%;
  background-color: #292929;
}

@keyframes logoslide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-logoslide {
  animation-play-state: paused;
}

.logos-logoslide {
  display: inline-block;
  animation: 35s logoslide infinite linear;
}

.logos-logoslide img {
  height: 50px;
  margin: 0 40px;
}
